header {
	background: #5d5d5d;
	color: white;
	padding: 10px;
}

footer {
	background: #5d5d5d;
	color: white;
	padding: 10px;
}

.center {
	margin: auto;
	width: 50%;
	/* border: 1px solid green; */
	padding: 10px;
}

.imageContainer {
	float: right;
	margin-top: 15px;
}